@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#container {
    margin: auto;
    width: 80%;
}
.section {
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Open Sans"
}

.description {
    font-family: Lato;
}